Repository 2501Pr0ject/Scrapinium: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-api-schemas, check-environment-vars, validate-security-config, check-migrations

validate-api-schemas:
  name: 🔍 Validate API schemas
  entry: python scripts/validate_api_schemas.py
  language: system
  pass_filenames: false

check-environment-vars:
  name: 🔧 Check environment variables
  entry: python scripts/check_env_vars.py
  language: system
  pass_filenames: false

validate-security-config:
  name: 🛡️ Validate security configuration
  entry: python scripts/validate_security.py
  language: system
  pass_filenames: false

check-migrations:
  name: 🗄️ Check database migrations
  entry: python scripts/check_migrations.py
  language: system
  pass_filenames: false

feat: Add advanced Streamlit interface with result retrieval
  src/scrapinium/api/app.py
  src/scrapinium/api/endpoints/performance.py
  src/scrapinium/scraping/browser.py
  src/scrapinium/security/headers.py
  src/scrapinium/utils/logging.py
  static/css/main.css
  streamlit_app.py
  templates/simple.html
Due: validate-api-schemas, check-environment-vars, validate-security-config

feat: Add multi-format download functionality to Streamlit interface
  streamlit_app.py
Due: none

feat: Implement comprehensive Machine Learning pipeline for intelligent web scraping
  .gitignore
  app.py
  rxconfig.py
  scrapinium_reflex.py
  scripts/ui_app.py
  src/scrapinium/ml/__init__.py
  src/scrapinium/ml/antibot_detector.py
  src/scrapinium/ml/content_analyzer.py
  src/scrapinium/ml/content_classifier.py
  src/scrapinium/ml/ml_pipeline.py
  src/scrapinium/ui/app.py
  streamlit_app.py
Due: check-environment-vars

feat: Reorganize project structure and complete ML integration
  .gitignore
  CHANGELOG.md
  README.md
  REORGANIZATION_PLAN.md
  ROADMAP.md
  TODO.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/EXAMPLES.md
  docs/mkdocs.yml
  examples/fastapi/README.md
  examples/fastapi/app.py
  examples/reflex/README.md
  examples/reflex/rxconfig.py
  examples/reflex/scrapinium_reflex.py
  examples/streamlit/README.md
  examples/streamlit/streamlit_app.py
  requirements/base.txt
  requirements/dev.txt
  requirements/ml.txt
  requirements/prod.txt
  src/scrapinium/api/app.py
  src/scrapinium/ml/antibot_detector.py
  src/scrapinium/ml/ml_pipeline.py
  tests/unit/test_ml_pipeline.py
Due: validate-api-schemas, check-environment-vars

feat: Implement critical security and architecture improvements
  src/scrapinium/api/app.py
  src/scrapinium/api/exception_handler.py
  src/scrapinium/api/ml_manager.py
  src/scrapinium/api/task_manager.py
  src/scrapinium/api/validators.py
  src/scrapinium/exceptions.py
  src/scrapinium/scraping/browser.py
  src/scrapinium/security/input_validator.py
Due: validate-api-schemas, check-environment-vars, validate-security-config

feat: Complete architectural refactoring with modular router system
  src/scrapinium/api/app.py
  src/scrapinium/api/routers/__init__.py
  src/scrapinium/api/routers/cache.py
  src/scrapinium/api/routers/core.py
  src/scrapinium/api/routers/maintenance.py
  src/scrapinium/api/routers/performance.py
  src/scrapinium/api/routers/scraping.py
  src/scrapinium/api/routers/statistics.py
  src/scrapinium/api/services/__init__.py
  src/scrapinium/api/services/scraping_service.py
Due: validate-api-schemas, check-environment-vars

docs: Update all tracking documents for v0.4.0 architectural refactoring
  CHANGELOG.md
  ROADMAP.md
  TODO.md
  docs/ARCHITECTURE.md
Due: none

feat: Implement advanced features v0.7.0 - batch processing & templates
  .gitignore
  CHANGELOG.md
  REORGANIZATION_PLAN.md
  ROADMAP.md
  TODO.md
  src/scrapinium/api/app.py
  src/scrapinium/api/exception_handler.py
  src/scrapinium/api/routers/core.py
  src/scrapinium/api/routers/scraping.py
  src/scrapinium/api/routers/statistics.py
  src/scrapinium/api/routers/templates.py
  src/scrapinium/api/routers/websocket.py
  src/scrapinium/api/services/batch_service.py
  src/scrapinium/api/services/template_service.py
  src/scrapinium/config/settings.py
  src/scrapinium/models/database.py
  src/scrapinium/models/schemas.py
  src/scrapinium/security/rate_limiter.py
  src/scrapinium/utils/memory.py
  static/css/main.css
  static/js/app.js
  static/js/batch.js
  static/js/dashboard.js
  static/js/navigation.js
  static/js/templates.js
  templates/index.html
Due: validate-api-schemas, check-environment-vars, validate-security-config, check-migrations

Path conditions:
  validate-api-schemas: any of: ^src/scrapinium/api/, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/|
  venv/|
  \.venv/|
  migrations/|
  static/vendor/|
  docs/_build/|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  \.eggs/|
  .*\.egg-info/
)$

  check-environment-vars: any of: ^(src/.*\.py|\.env\.example)$, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/|
  venv/|
  \.venv/|
  migrations/|
  static/vendor/|
  docs/_build/|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  \.eggs/|
  .*\.egg-info/
)$

  validate-security-config: any of: ^src/scrapinium/security/, but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/|
  venv/|
  \.venv/|
  migrations/|
  static/vendor/|
  docs/_build/|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  \.eggs/|
  .*\.egg-info/
)$

  check-migrations: any of: ^(alembic/|src/scrapinium/models/), but not: (?x)^(
  .*\.min\.(js|css)|
  .*\.bundle\.(js|css)|
  node_modules/|
  venv/|
  \.venv/|
  migrations/|
  static/vendor/|
  docs/_build/|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.coverage|
  htmlcov/|
  dist/|
  build/|
  \.eggs/|
  .*\.egg-info/
)$

